RewriteEngine On
RewriteBase /admin/

# Default page
DirectoryIndex admin_dashboard.php

# =========================
# PRETTY URLS
# =========================
RewriteRule ^admin-dashboard/?$ admin_dashboard.php [L,QSA]
RewriteRule ^admin-login/?$ login.php [L,QSA]
RewriteRule ^admin-logout/?$ admin_logout.php [L,QSA]

RewriteRule ^admin-report/?$ admin_report.php [L,QSA]
RewriteRule ^admin-reset-db/?$ admin_reset_database.php [L,QSA]
RewriteRule ^magna-carta-management/?$ magna_carta_management.php [L,QSA]
RewriteRule ^officer-management/?$ officer_management.php [L,QSA]
RewriteRule ^events-management/?$ events_management.php [L,QSA]
RewriteRule ^videos-management/?$ videos_management.php [L,QSA]
RewriteRule ^news-management/?$ news_management.php [L,QSA]
RewriteRule ^governor-management/?$ governor_management.php [L,QSA]
RewriteRule ^member-update/?$ update_member.php [L,QSA]
RewriteRule ^user-management/?$ user_management.php [L,QSA]
RewriteRule ^member/?$ member.php [L,QSA]
RewriteRule ^appointed-management/?$ appointed_management.php [L,QSA]
RewriteRule ^memorandum/?$ memorandum.php [L,QSA]
RewriteRule ^membertest/?$ membertest.php [L,QSA]


RewriteRule ^img-checker/?$ img-checker.php [L,QSA]

# =========================
# BLOCK DIRECT PHP ACCESS (SAFE)
# =========================
RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{REQUEST_URI} \.php$
RewriteCond %{REQUEST_URI} !login\.php$
RewriteRule ^ - [F,L]